footer {
  background-color: #4d4a4aad;
  padding: 100px 0;
  color: white;
  height: 250px;
  position: relative;
  top: 180px;
}
footer h1 {
  margin-bottom: 10px;
  color: black;
  font-weight: 800;
  font-style: italic;
  position: relative;
  top: -60px;

}
footer .img {
  background-color: #1f90c5;
  padding: 15px 20px;
  border-radius: 5px;
  position: relative;
  left: 1000px;
  top: -100px;
  cursor: pointer;
}
footer .img i {
  font-size: 20px;
  margin: 5px;
}
footer .img span {
  margin-top: 5px;
}
footer p {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  margin-bottom: 20px;
}
footer h2 {
  margin-bottom: 10px;
  position: relative;
  top: -50px;
}
footer li {
  margin-bottom: 0px;
  opacity: 0.5;
  position: relative;
  top: -30px;
  line-height: 40px;
}
.opp {
  position: relative;
  left: 150px;
}
.appl {
  color: white;
}